.rotate {
	animation: rotate 3s;
}
@keyframes rotate {
	100% {
		transform: rotate(720deg);
	}
}
.button-nostyle {
	all: unset;
	cursor: pointer;
}
.button-nostyle:focus {
	outline: orange 5px auto;
}
